<!-- <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 70px;">
    <div class="text-right">
        <button class="btn  btn-primary  " style="padding-right: 60px; margin-left: 10px;margin-right: 20px;" ><i class="fa fa-plus"></i> &nbsp; Add Employees</button>
        <button class="btn  btn-success  " style="padding-right: 100px; margin-right: 20px; "><i class="fa fa-plus"></i> &nbsp; Add Skills</button>
        <button class="btn  btn-warning  " style="padding-right: 60px; margin-right: 20px;"><i class="fa fa-plus"></i> &nbsp; Add Certificates</button>
    </div> 
  </nav>
</div> -->

<router-outlet></router-outlet>
